body {
    background-image: url("https://ik.imagekit.io/gbmeyjntiq/Martin.jpg?updatedAt=1678365214136");
	background-repeat: no-repeat;
	background-size: cover;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 50px 20px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.Contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
}

.box {
			width: 100px;
			height: 100px;
			background-color: red;
			animation-name: example;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}
		@keyframes example {
			from {background-color: red;}
			to {background-color: yellow;}
		}

.picture {
    text-align: center;
}

.container {
    text-align: center;
}

footer {
    background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
